.label-custom-1 {
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    width: 170px;
    height: 37px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
    opacity: 0.9;

}

/* select.custom {
    width: 170px;
    height: 37px;
    border: 1px solid #41719c;
} */

.input-keyword {
    width: 165px;
    height: 37px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
    opacity: 0.9;
}

.btn-custom-1 {
    background-color: #4f81bd;
    color: white;
    margin-left: 100px;
    border: 3px solid #385d8a;
    padding: 10px 30px;
    border-radius: 10px;
}

.btn-custom-2 {
    background-color: #4f81bd;
    color: white;
    margin-left: 440px;
    border: 3px solid #385d8a;
    padding: 5px 30px;
    border-radius: 10px;
}

.row-content {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table {
    width: 50%;
}

th {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button {
    background-color: #6095cf;
    color: white;
    border: 1px solid #385d8a;
    opacity: 0.8;
    padding: 3px;
}
